body {
  padding-top: 50px;
}

h1.section_header {
  border-bottom: 1px solid #CCC;
}

.blured-mc {
  color: white;
  background: black url(/images/jumbotronbackground.png) no-repeat scroll center center / cover;
}

.glyphicon {
  padding-right: .5em;
}

.text-muted .glyphicon-comment {
  padding-left: 1em;
}

a {
  transition: color .2s, background-color .2s;
}
