---
layout: base
title: Game Chat
scripts: ['https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js', 'js/controllers.js']
---

<div class="container" ng-app="chatCraftWebApp" ng-controller="ChatCraftController">
  <div class="login" ng-if="!isConnected() && !isLoading()" ng-include="'templates/join.html'"></div>
  <div class="login" ng-if="!isConnected() && isLoading()" ng-include="'templates/loading.html'"></div>
  <div class="login" ng-if="isConnected()" ng-include="'templates/chat.html'"></div>
</div>
