---
layout: base
title: Team
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="section_header">Owners</h1>
    </div>
  </div>
  <div class="row">
    {% for owner in site.owners %}
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>{{owner.title}}</h3>
            <p>{{owner.position}}</p>
            <p><a href="{{owner.url}}" class="btn btn-primary" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="section_header">Moderators</h1>
    </div>
  </div>
  <div class="row">
    {% for moderator in site.moderators %}
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>{{moderator.title}}</h3>
            <p>{{moderator.position}}</p>
            <p><a href="{{moderator.url}}" class="btn btn-primary" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
