---
layout: base
title: Mumble
---
<div class="container" style="margin-top: 2rem;">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-6">
        <h2>Set up mumble</h2>
        <ol>
          <li>Download the Mumble Client [<a href="https://github.com/mumble-voip/mumble/releases">Click me!</a>]</li>
          <li>Install the program, as you would any other</li>
          <li>Start mumble</li>
          <li>Go through the audio configuration wizard</li>
          <ul>
            <li>If not prompted you may find it under Configure > Audio Wizard</li>
          </ul>
          <li>Under the Server menu click Connect</li>
          <li>Click Add New</li>
          <li>Enter the details of your prefered Skelril mumble server</li>
        </ol>
      </div>
      <div class="col-md-4">
        <h2>Then...</h2>
        <ol>
          <li>Go under Server > Connect</li>
          <li>Pick Skelril from the list</li>
          <li>Enjoy</li>
        </ol>
      </div>
    </div>
    <div class="col-md-4">
      {% assign sorted_servers = (site.data.mumble_servers | sort: 'active', 'last') %}
      {% for mumble_server in sorted_servers %}
          <div class="panel panel-default">
            <div class="panel-heading">{{mumble_server.title}} {% if mumble_server.active %}<span class="label label-primary">Active</span>{% endif %}</div>
            <div class="panel-body">
              IP: {{mumble_server.ip}} <br />
              Port: {{mumble_server.port}} <br />
              Username: {{mumble_server.username | xml_escape}} <br />
              Password: {{mumble_server.password | xml_escape}}
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
