<div class="row">
  <div id="chat-feed" class="col-xs-12 col-sm-10" style="overflow-y: auto;" ng-style="{ height: chatHeight() + 'px' }" ng-show="!showOnline">
    <div ng-include="'templates/list/messages_list.html'"></div>
  </div>
  <div class="hidden-xs col-sm-2" style="overflow-y: auto;" ng-style="{ height: chatHeight() + 'px' }">
    <div ng-include="'templates/list/user_list.html'"></div>
  </div>

  <div class="visible-xs-block col-xs-12" ng-if="showOnline">
    <div ng-include="'templates/list/user_list.html'"></div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form style="padding-top: 5px;">
      <div class="row">
        <div class="col-xs-10">
          <input type="text" style="max-width: 100%;" class="form-control" ng-model="user.message" placeholder="Message">
        </div>
        <div class="visible-xs-inline col-xs-2">
          <div ng-show="!user.message || user.message.length < 1">
            <a class="btn btn-default btn-block" ng-class="{ active: showOnline }" ng-click="showOnline = !showOnline">
              <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
            </a>
          </div>
          <div ng-show="user.message && user.message.length > 0">
            <button class="btn btn-primary btn-block" ng-disabled="!user.message || user.message.length < 1" ng-click="sendMessage()">
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="hidden-xs col-xs-2">
          <button class="btn btn-primary btn-block" ng-disabled="!user.message || user.message.length < 1" ng-click="sendMessage()">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
