<div class="hidden-xs" style="height:50px;"></div>
<img class="img-responsive center-block" src="/images/crest.png" />
<div class="hidden-xs" style="height:50px;"></div>
<div class="row">
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
    <input class="form-control" type="text" style="text-align: center;" ng-model="user.name" placeholder="Username">
    <button class="btn btn-primary btn-block"style="margin-top: 10px;" ng-click="authenticate()">Join Chat</button>
  </div>
</div>
</div>
