<ul class="list-group">
  <li class="list-group-item" ng-repeat="response in chatResponses">
    <span ng-if="response.method === 'send'">
      &lt;<span ng-bind="response.params.sender"></span>&gt; <span ng-bind="response.params.message"></span>
    </span>
    <span ng-if="response.method === 'join'"class=""list-group-item>
      <span ng-bind="response.params.name"></span> joined <span ng-if="response.params.remote">chat</span> <span ng-if="!response.params.remote">the game</span>
    </span>
    <span ng-if="response.method === 'leave'">
      <span ng-bind="response.params.name"></span> left <span ng-if="response.params.remote">chat</span> <span ng-if="!response.params.remote">the game</span>
    </span>
  </li>
</ul>
