---
layout: base
title: Market
scripts: ['https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js', 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.min.js', 'js/controllers.js']
---

<div class="container" ng-app="skelrilMarketApp" ng-controller="MarketController">
  <form style="position: sticky; top: 51px;">
    <div style="background-color: white; padding-top: 4px; padding-bottom: 4px;">
      <input ng-model="searchText" class="form-control" placeholder="Search...">
    </div>
  </form>

  <div>
    <section ng-if="loading">
      Loading...
    </section>
    <section ng-if="!loading">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="55%">Item Name</th>
            <th width="15%" class="text-right">Buy Price</th>
            <th width="15%" class="text-right">Sell Price</th>
            <th width="15%" class="text-right">Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in marketItems | filter: searchText | orderBy: 'buy_price'">
            <td width="55%">[[ item.name.toUpperCase() ]]</td>
            <td width="15%" class="text-right">[[ item.buy_price | number: 2 ]]</td>
            <td width="15%" class="text-right">[[ item.sell_price | number: 2 ]]</td>
            <td width="15%" class="text-right">[[ item.stock | number: 0 ]]</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
