---
title: Meet Skelril
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include default_heading.html %}
  <!-- Splash CSS -->
  <link href="/css/splash.css" rel="stylesheet">
</head>
<body class="blured-mc">
  <img class="img-responsive center-block" src="/images/crest.png" />
  <div class="text-center">
    <h1 class="dramatic-in">{{site.slogan}}</h1>
    <p class="dramatic-in">{{site.slogan-subtext}}</p>
    <div class="dramatic-in">
      <a class="btn btn-default btn-lg" href="/server">Learn more</a><span style="margin-left: 2em;"></span><a class="btn btn-primary btn-lg" href="/play">Play now!</a>
    </div>
  </div>
  {% include bootstrap_footer.html %}
</body>
</html>
